@layer components {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--space2XL) var(--spaceL);
    z-index: var(--zIndex2);
    position: relative;
  }

  .copyright {
    margin: 0;
    font-size: var(--fontSizeBodyXS);
    line-height: 1.4;
    color: var(--textLight);
    text-align: center;
  }
}
